.vscode/

builder/android/build
builder/android/ndk
builder/android/sdk
builder/assets
builder/include
builder/build
builder/lib
builder/raylib
builder/emsdk
/src

game
*.exe
*.apk
*.keystore

emsdk/
index.html
*.wasm
*.js
*.data
*.a
*.appimage
*.o